@import 'tailwindcss';

.text-shadow {
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.animate-marquee {
	animation: marquee 15s linear infinite;
}

@font-face {
	font-family: 'New-Spirit';
	src: url('/fonts/New-Spirit.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'New-Spirit-Medium';
	src: url('/fonts/New-Spirit-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@theme {
	--font-New-Spirit: 'New-Spirit-Medium';
	--font-New-Spirit-Light: 'New-Spirit';
}

html {
	font-family: 'New-Spirit', sans-serif;
}

/* Tailwind override: make font-normal use New-Spirit */
.font-normal {
	font-family: 'New-Spirit', sans-serif !important;
	font-weight: 400 !important;
}
